@charset "ISO-8859-1";

body{
	
	text-align: center;
	background-color: aliceblue;
}
		
		
		h1{
			background-color:rgb(128, 255, 128); color:rgb(0, 0, 0)
		}
		h2{
			color: rgb(0, 0, 0);
		}
		label{
			color: blue; font-style: 20px
		}
		input{
			color:black; font-size: 20px;
		}
		button
		{
			 padding: 15px; background-color: rgb(200, 255, 200); font-size: 20px; 
			 border-radius: 10%;
		}
